<div id="chat-area">
  <div class="card fluid" id="chat-box"></div>
  <input placeholder="Anonymous" id="username" />
  <ul class="card fluid" id="spectator-box"></ul>
  <input placeholder="Type your message here..." id="chat-msg" />
  <button class="primary" id="chat-btn">Send</button>
</div>
