<footer class="site-footer">
  <div class="site-footer-inner">
    <small>
      Chessboard by <a href="https://chessboardjs.com/">chessboard.js</a>. Chess pieces by
      <a href="https://en.wikipedia.org/wiki/User:Cburnett">Cburnett</a>. Broadcasts by
      <a href="https://computerchess.org.uk/ccrl/4040/">Graham Banks, CCRL</a>. Hosting and Development by
      <a href="https://github.com/jhonnold">Jay Honnold</a>. Have a question, recommendation, or concern? Reach
      out <a href="https://github.com/jhonnold/node-tlcv/issues">here</a>.
    </small>
  </div>
</footer>