{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/client/", "src/ui/"],
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "off"
  },
  "overrides": [
    {
      "files": ["src/server/**/*.ts"],
      "plugins": ["@typescript-eslint"],
      "parser": "@typescript-eslint/parser",
      "extends": ["airbnb-base", "prettier"],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "globals": {
        "NodeJS": true
      },
      "settings": {
        "import/resolver": {
          "node": {
            "moduleDirectory": ["node_modules", "src/server/"],
            "extensions": [".ts"]
          }
        }
      },
      "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "error",
        "import/extensions": ["error", "never"],
        "lines-between-class-members": [
          "error",
          "always",
          {
            "exceptAfterSingleLine": true
          }
        ]
      }
    }
  ]
}
