<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TLCV</title>
    <link rel="stylesheet" href="https://unpkg.com/reset-css/reset.css" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="container">
      <h3 id="black-name"></h3>
      <div class="card fluid">
        <div class="row">
          <div class="col-sm">
            <h3><small id="black-info"></small></h3>
          </div>
          <div class="col-sm" style="text-align: right">
            <h3><small id="black-time"></small></h3>
          </div>
          <div class="col-sm-12">
            <p><small id="black-pv"></small></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="board" class="col-sm-12"></div>
      </div>
      <div class="row">
        <pre id="fen" style="width: 100%"></pre>
      </div>
      <h3 id="white-name"></h3>
      <div class="card fluid">
        <div class="row">
          <div class="col-sm">
            <h3><small id="white-info"></small></h3>
          </div>
          <div class="col-sm" style="text-align: right">
            <h3><small id="white-time"></small></h3>
          </div>
          <div class="col-sm-12">
            <p><small id="white-pv"></small></p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
