<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TLCV</title>
    <link rel="stylesheet" href="https://unpkg.com/reset-css/reset.css" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="container">
      <h3 id="black-name"></h3>
      <div class="card fluid">
        <div class="row">
          <div class="col-sm">
            <div class="row">
              <div class="col-sm">
                <p class="small-margin"><small>Score</small></p>
                <p class="small-margin" id="black-score"></p>
              </div>
              <div class="col-sm">
                <p class="small-margin"><small>Depth</small></p>
                <p class="small-margin" id="black-depth"></p>
              </div>
              <div class="col-sm">
                <p class="small-margin"><small>Nodes</small></p>
                <p class="small-margin" id="black-nodes"></p>
              </div>
              <div class="col-sm">
                <p class="small-margin"><small>Nps</small></p>
                <p class="small-margin" id="black-nps"></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3" style="text-align: right">
            <h3><small id="black-time"></small></h3>
            <h6><small id="black-think"></small></h6>
          </div>
          <div class="col-sm-12">
            <p class="pv"><small id="black-pv"></small></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="board" class="col-sm"></div>
      </div>
      <div class="row">
        <div
          id="fen-tooltip"
          class="tooltip col-sm"
          aria-label="Click to copy"
          style="cursor: pointer"
          onclick="copyFen()"
        >
          <pre id="fen"></pre>
        </div>
      </div>
      <h3 id="white-name"></h3>
      <div class="card fluid">
        <div class="row">
          <div class="col-sm">
            <div class="row">
              <div class="col-sm">
                <p class="small-margin"><small>Score</small></p>
                <p class="small-margin" id="white-score"></p>
              </div>
              <div class="col-sm">
                <p class="small-margin"><small>Depth</small></p>
                <p class="small-margin" id="white-depth"></p>
              </div>
              <div class="col-sm">
                <p class="small-margin"><small>Nodes</small></p>
                <p class="small-margin" id="white-nodes"></p>
              </div>
              <div class="col-sm">
                <p class="small-margin"><small>Nps</small></p>
                <p class="small-margin" id="white-nps"></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-2" style="text-align: right">
            <h3><small id="white-time"></small></h3>
            <h6><small id="white-think"></small></h6>
          </div>
          <div class="col-sm-12">
            <p class="pv"><small id="white-pv"></small></p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
