.black-3c85d {
  background-color: var(--boardDark);
  color: var(--boardLight);
}

.white-1e1d7 {
  background-color: var(--boardLight);
  color: var(--boardDark);
}

.board-b72b1 {
  overflow: hidden;
  border-color: var(--surfaceColorHover);
  border-radius: 8px;
}

.notation-322f9 {
  font-family: var(--fontFamily);
  font-size: 0.6rem;
  font-weight: 700;
}

.highlight {
  box-shadow: inset 0 0 0 1000px var(--highlightColor);
}
