.info {
  border-right: 1px solid var(--surfaceColorHover);

  &:last-of-type {
    border: none;
  }
}

.info-area {
  display: grid;
  grid-template-columns: auto 155px;
  grid-template-rows: auto 120px;
  gap: var(--universal-margin);

  .card {
    margin: 0;
  }
}

.info-board {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 2;
  cursor: pointer;

  .board-b72b1 {
    border-radius: 2px;
  }
}

.info-card {
  box-sizing: border-box;
  height: 100%;
  grid-row: 2;
  grid-column: 1;

  > .row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  .col-sm-12 {
    margin-top: auto;
    width: 100%;
  }

  .pv {
    margin-top: 0;
  }
}

.info-header {
  font-weight: 300;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: var(--textColor);
}

.info-name {
  margin: 0;
  grid-row: 1;
  grid-column: 1;
}

.info-value {
  text-align: center;
}
