:root {
  --fontFamily: 'Red Hat Text', sans-serif;
  --primaryColor: #4b7399;
  --primaryColorHover: #003eaa;
  --secondaryColor: #003eaa;
  --backgroundColor: #e1e2ea;
  --surfaceColor: #ffffff8c;
  --surfaceColorHover: #cecece3d;
  --boardDark: #4b7399;
  --boardLight: #ffffff;
  --textColor: #342f3a;
  --highlightColor: #52b1dc6b;
}
