:root {
  --primaryColor: #4b7399;
  --secondaryColor: #003eaa;
  --backgroundColor: #e1e2ea;
  --surfaceColor: #ffffff8c;
  --surfaceColorHover: #cecece3d;
  --boardDark: #4b7399;
  --boardLight: #ffffff;
  --textColor: #342f3a;
}
