:root {
  --primaryColor: #9fc0a2;
  --primaryColorHover: #68c07b;
  --secondaryColor: #f5c276;
  --backgroundColor: #272a2c;
  --surfaceColor: #333538;
  --surfaceColorHover: #404246;
  --boardDark: #71828f;
  --boardLight: #c7c7c7;
  --textColor: #aaaaaa;
  --highlightColor: #99d69e66;
  --kibitzerColor: var(--textColor);
  --graphWhiteColor: #cecece;
  --graphBlackColor: #888888;
  --evalBarWhite: #ccc;
  --evalBarBlack: #111;
}

a {
  &:link,
  &:visited {
    color: var(--primaryColor);
  }

  &.primary.button {
    color: var(--backgroundColor);
    background-color: var(--primaryColor);

    &:hover {
      background-color: var(--primaryColorHover);
    }
  }
}

button.primary {
  font-family: var(--fontFamily);
  font-weight: 500;
  color: var(--backgroundColor);
  background-color: var(--primaryColor);

  &:hover {
    background-color: var(--primaryColorHover);
  }
}

.card {
  color: #f2f5f3;
  border-color: var(--surfaceColorHover);
  background-color: var(--surfaceColor);
}

.highlight {
  box-shadow: inset 0 0 0 1000px var(--highlightColor);
}

.info-board .board-b72b1 {
  border-radius: 2px;
}

.pv {
  font-weight: 300;
  color: #f2f5f3;
}

#chat-area input {
  color: #f2f5f3;
  border-color: var(--surfaceColorHover);
  background-color: var(--surfaceColor);

  &:focus {
    outline: 0 none;
  }
}

#chat-box {
  font-weight: 300;
}

.tab-btn.active {
  color: var(--backgroundColor);
}

.pc-black {
  background: #ddd;
}
