@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;500;700&display=swap');

:root {
  --primaryColor: 159, 192, 162;
  --secondaryColor: 245, 194, 118;
  --backgroundColor: 39, 42, 44;
  --surfaceColor: 51, 53, 56;
  --surfaceColorHover: 64, 66, 70;
  --defaultWhite: 242, 245, 243;
  --boardDark: 113, 130, 143;
  --boardLight: 199, 199, 199;
  --textColor: 170, 170, 170;
}

body {
  background-color: rgb(var(--backgroundColor));
  color: rgb(var(--textColor));
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
}

.white-1e1d7 {
  background-color: rgb(var(--boardLight));
}

.black-3c85d {
  background-color: rgb(var(--boardDark));
}

.highlight {
  box-shadow: inset 0 0 0 1000px rgba(var(--primaryColor), 0.5);
}

.board-b72b1 {
  border-radius: 8px;
  overflow: hidden;
}

.info-board .board-b72b1 {
  border-radius: 2px;
}

.card {
  background-color: rgb(var(--surfaceColor));
  border-color: rgb(var(--surfaceColorHover));
  color: rgb(var(--defaultWhite));
}

.info {
  border-right: 1px solid rgb(var(--surfaceColorHover));
}

.info:last-of-type {
  border: none;
}

.info-header {
  font-weight: 300;
  text-align: center;
  width: 100%;
  display: inline-block;
  color: rgb(var(--textColor));
}

.info-value {
  text-align: center;
  margin-top: 100px;
}

#chat-area input {
  background-color: rgb(var(--surfaceColor));
  border-color: rgb(var(--surfaceColorHover));
  color: rgb(var(--defaultWhite));
}

#chat-area input:focus {
  outline: 0 none;
}

#chat-box {
  font-weight: 300;
}

#fen,
#opening {
  background-color: rgb(var(--surfaceColor));
  border-color: rgb(var(--surfaceColorHover));
  border-left-color: rgb(var(--secondaryColor));
}

button.primary {
  background-color: rgb(var(--primaryColor));
  color: rgb(var(--defaultWhite));
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
}

button.primary:hover {
  background-color: rgba(var(--primaryColor), 0.5);
}

a.primary.button {
  background-color: rgb(var(--primaryColor));
  color: rgb(var(--defaultWhite));
}

a.primary.button:hover {
  background-color: rgba(var(--primaryColor), 0.5);
}

h3 small,
h6 small {
  color: rgb(var(--textColor));
}

a:link {
  color: rgb(var(--primaryColor));
}

a:visited {
  color: rgb(var(--primaryColor));
}

mark {
  background-color: rgb(var(--primaryColor));
  color: rgb(var(--defaultWhite));
}

.pv {
  color: rgb(var(--defaultWhite));
  font-weight: 300;
}

strong {
  color: rgb(var(--secondaryColor));
  font-weight: 700;
}

.small-margin {
  margin: calc(var(--universal-margin) / 4);
}
