:root {
  --primaryColor: #9fc0a2;
  --secondaryColor: #f5c276;
  --backgroundColor: #272a2c;
  --surfaceColor: #333538;
  --surfaceColorHover: #404246;
  --defaultWhite: #f2f5f3;
  --boardDark: #71828f;
  --boardLight: #c7c7c7;
  --textColor: #aaaaaa;
}

a.primary.button {
  color: var(--backgroundColor);
  background-color: var(--primaryColor);
}

a.primary.button:hover {
  background-color: #68c07b;
}

a:link {
  color: var(--primaryColor);
}

a:visited {
  color: var(--primaryColor);
}

body {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;

  color: var(--textColor);
  background-color: var(--backgroundColor);
}

button.primary {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;

  color: var(--backgroundColor);
  background-color: var(--primaryColor);
}

button.primary:hover {
  background-color: #68c07b;
}

h3 small,
h6 small {
  color: var(--textColor);
}

mark {
  color: var(--backgroundColor);
  background-color: var(--primaryColor);
}

strong {
  font-weight: 700;

  color: var(--secondaryColor);
}

.black-3c85d {
  background-color: var(--boardDark);
}

.board-b72b1 {
  overflow: hidden;

  border-color: var(--surfaceColor);
  border-radius: 8px;
}

.card {
  color: var(--defaultWhite);
  border-color: var(--surfaceColorHover);
  background-color: var(--surfaceColor);
}

.highlight {
  box-shadow: inset 0 0 0 1000px #99d69e66;
}

.info {
  border-right: 1px solid var(--surfaceColorHover);
}

.info-board .board-b72b1 {
  border-radius: 2px;
}

.info:last-of-type {
  border: none;
}

.pv {
  font-weight: 300;

  color: var(--defaultWhite);
}

.small-margin {
  margin: calc(var(--universal-margin) / 4);
}
.white-1e1d7 {
  background-color: var(--boardLight);
}

#chat-area input {
  color: var(--defaultWhite);
  border-color: var(--surfaceColorHover);
  background-color: var(--surfaceColor);
}

#chat-area input:focus {
  outline: 0 none;
}

#chat-box {
  font-weight: 300;
}

#fen,
#caption {
  border-color: var(--surfaceColorHover);
  border-left-color: var(--primaryColor);
  background-color: var(--surfaceColor);
}
