@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;500;700&display=swap');

:root {
  --primaryColor: #4b7399;
  --secondaryColor: #003eaa;
  --backgroundColor: #e1e2ea;
  --surfaceColor: #ffffff8c;
  --surfaceColorHover: #cecece3d;
  --boardDark: #4b7399;
  --boardLight: #ffffff;
  --textColor: #342f3a;
}

.below-board {
  grid-row-start: 5;
  grid-column-start: 1;
}

.black-3c85d {
  background-color: var(--boardDark);
}

.board-b72b1 {
  overflow: hidden;

  border-color: var(--surfaceColorHover);
  border-radius: 8px;
}

.card {
  color: var(--textColor);
  border-color: var(--surfaceColorHover);
  background-color: var(--surfaceColor);
}

.container {
  max-width: 135vh;
  padding: var(--universal-padding);
}

.credits {
  text-align: center;
}

.highlight {
  box-shadow: inset 0 0 0 1000px #52b1dc6b;
}

.info {
  border-right: 1px solid var(--surfaceColorHover);
}

.info-area .card {
  margin: 0;
}

.info-area {
  display: grid;

  grid-template-columns: auto 155px;
  grid-template-rows: auto 101.5px;
  gap: var(--universal-margin);
}

.info-board .board-b72b1 {
  border-radius: 2px;
}

.info-board {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 2;
}

.info-card {
  box-sizing: border-box;
  height: 100%;

  grid-row: 2;
  grid-column: 1;
}

.info-header {
  font-weight: 300;

  display: inline-block;

  width: 100%;

  text-align: center;

  color: rgb(var(--textColor));
}

.info-name {
  margin: 0;

  grid-row: 1;
  grid-column: 1;
  
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.info-value {
  text-align: center;
}

.info:last-of-type {
  border: none;
}

.main-layout {
  display: grid;

  grid-template-columns: minmax(238px, 60%) minmax(530px, 40%);
  grid-template-rows: 155px minmax(50px, 1fr) minmax(50px, 1fr) 155px auto;
  gap: calc(2 * var(--universal-margin));
}

.other {
  display: flex;
  justify-content: center;
}

.pv {
  overflow: hidden;

  white-space: nowrap;
}

.small-margin {
  margin: calc(var(--universal-margin) / 4);
}

.spectator-wrapper {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.theme-btn {
  font-size: 12px;

  padding: 2px !important;
}
.white-1e1d7 {
  background-color: var(--boardLight);
}

#arrow-board {
  position: absolute;
  z-index: 1;

  pointer-events: none;
}

#black-info {
  grid-row-start: 1;
  grid-column-start: 2;
}

#board-container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
}

#button-container {
  display: flex;
  align-items: center;
  justify-content: center;

  grid-row-start: 5;
  grid-column-start: 2;
}

#caption {
  padding: calc(var(--universal-padding) / 2);

  text-align: center;
}

#chat-area * {
  font-size: 0.875rem;
}

#chat-area > * {
  margin: 0 !important;
}

#chat-area input {
  border-color: var(--surfaceColorHover);
  background-color: var(--surfaceColor);
}

#chat-area input:focus {
  outline: 0 none;
}

#chat-area {
  display: grid;

  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-template-columns: auto 155px;
  grid-template-rows: 40px auto 40px;
  gap: var(--universal-margin);
}

#chat-box {
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: flex-start;

  box-sizing: border-box;
  height: 100%;

  grid-row-start: 1;
  grid-row-end: 3;
}

#fen {
  padding: calc(var(--universal-padding) / 2);

  text-align: center;
}

#fen-tooltip {
  width: 100%;

  cursor: pointer;
}

#spectator-box {
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: flex-start;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 0;

  grid-column: 2;
  grid-row: 2;
}

#white-info {
  grid-row-start: 4;
  grid-column-start: 2;
}

a.primary.button {
  color: var(--backgroundColor);
  background-color: var(--primaryColor);
}

a.primary.button:hover {
  background-color: var(--secondaryColor);
}

a:link {
  color: var(--primaryColor);
}

a:visited {
  color: var(--secondaryColor);
}

body {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;

  color: var(--textColor);
  background-color: var(--backgroundColor);
}

button.primary {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;

  color: var(--backgroundColor);
  background-color: var(--primaryColor);
}

button.primary:hover {
  background-color: var(--secondaryColor);
}

mark {
  color: var(--backgroundColor);
  background-color: var(--primaryColor);
}

pre {
  margin: var(--universal-margin) 0;

  border-left-color: var(--primaryColor);
}

@media screen and (max-width: 767px) {
  #chat-area {
    height: 400px !important;

    grid-template-columns: auto 100px;
  }

  .main-layout {
    display: flex;
    flex-direction: column;
  }

  .info-area {
    grid-template-columns: auto;
    grid-template-rows: 46.5px 101.5px;
  }

  .info-board {
    display: none;
  }
}
