body {
  background-color: #fafafa;
  color: #090909;
}

.container {
  max-width: 150vh;
  padding: var(--universal-padding);
}

.highlight {
  box-shadow: inset 0 0 3px 3px #1565c0;
}

.small-margin {
  margin: calc(var(--universal-margin) / 4);
}

.credits {
  text-align: center;
}

.pv {
  white-space: nowrap;
  overflow: hidden;
}

.main-layout {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto 1fr 1fr auto auto;
}

#board-container {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
}

#black-info {
  grid-row-start: 1;
  grid-column-start: 2;
  min-height: 155px;
}

#white-info {
  grid-row-start: 4;
  grid-column-start: 2;
  align-self: flex-end;
  min-height: 155px;
}

.below-board {
  grid-row-start: 5;
  grid-column-start: 1;
}

#fen-tooltip {
  width: 100%;
  cursor: pointer;
}

#fen {
  padding: calc(var(--universal-padding) / 2);
  text-align: center;
}

#button-container {
  grid-row-start: 5;
  grid-column-start: 2;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#chat-area {
  margin: var(--universal-margin);
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;

  display: grid;
  grid-template-columns: auto minmax(80px, 160px);
  grid-template-rows: 40px auto 40px;
  gap: var(--universal-margin);
}

#chat-area > * {
  margin: 0 !important;
}

#chat-area * {
  font-size: 0.875rem;
}

#chat-box {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  grid-row-start: 1;
  grid-row-end: 3;
}

.spectator-wrapper {
  height: 100%;

  display: flex;
  flex-direction: column;
}

#spectator-box {
  width: 100%;
  height: 100%;
  max-height: 100%;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  padding: 0;
}

.username-container {
  border: none;
  grid-column: 2;
  grid-row: 1;
}

.username-container > input {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .main-layout {
    display: flex;
    flex-direction: column;
  }

  #white-info {
    align-self: auto;
  }

  #chat-area {
    height: 400px !important;
  }
}

.other {
  display: flex;
  justify-content: center;
}

#theme-btn {
  padding: 2px;
  font-size: 12px;
}