body {
  background-color: #fafafa;
  color: #090909;
}

pre {
  margin: var(--universal-margin) 0;
}

.container {
  max-width: 135vh;
  padding: var(--universal-padding);
}

.highlight {
  box-shadow: inset 0 0 0 1000px #ffff0080;
}

.small-margin {
  margin: calc(var(--universal-margin) / 4);
}

.credits {
  text-align: center;
}

.pv {
  white-space: nowrap;
  overflow: hidden;
}

.main-layout {
  display: grid;
  grid-template-columns: minmax(238px, 60%) minmax(530px, 40%);
  grid-template-rows: 155px minmax(50px, 1fr) minmax(50px, 1fr) 155px auto;
  gap: calc(2 * var(--universal-margin));
}

#board-container {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
}

#arrow-board {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

#black-info {
  grid-row-start: 1;
  grid-column-start: 2;
}

#white-info {
  grid-row-start: 4;
  grid-column-start: 2;
}

.info-area {
  display: grid;
  grid-template-columns: auto 155px;
  grid-template-rows: auto 101.5px;
  gap: var(--universal-margin);
}

.info-area .card {
  margin: 0;
}

.info-name {
  grid-row: 1;
  grid-column: 1;
  margin: 0;
}

.info-card {
  grid-row: 2;
  grid-column: 1;
  height: 100%;
  box-sizing: border-box;
}

.info-board {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 2;
}

.below-board {
  grid-row-start: 5;
  grid-column-start: 1;
}

#fen-tooltip {
  width: 100%;
  cursor: pointer;
}

#fen {
  padding: calc(var(--universal-padding) / 2);
  text-align: center;
}

#opening {
  padding: calc(var(--universal-padding) / 2);
  text-align: center;
}

#button-container {
  grid-row-start: 5;
  grid-column-start: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

#chat-area {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;

  display: grid;
  grid-template-columns: auto 155px;
  grid-template-rows: 40px auto 40px;
  gap: var(--universal-margin);
}

#chat-area > * {
  margin: 0 !important;
}

#chat-area * {
  font-size: 0.875rem;
}

#chat-box {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  grid-row-start: 1;
  grid-row-end: 3;
  box-sizing: border-box;
}

.spectator-wrapper {
  height: 100%;

  display: flex;
  flex-direction: column;
}

#spectator-box {
  width: 100%;
  height: 100%;
  max-height: 100%;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .main-layout {
    display: flex;
    flex-direction: column;
  }

  #chat-area {
    height: 400px !important;
  }

  .info-area {
    grid-template-columns: auto;
    grid-template-rows: 46.5px 101.5px;
  }

  .info-board {
    display: none;
  }
}

.other {
  display: flex;
  justify-content: center;
}

.theme-btn {
  padding: 2px !important;
  font-size: 12px;
}
