html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.result-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    overflow-x: hidden;
    max-height: calc(100% - 100px);
    height: calc(100% - 100px);
    min-height: calc(100% - 100px);
    overflow-y: hidden;
}



.result-table td,
.result-table th {
    padding: 5px 2px;
    border-spacing: 0;
    white-space: normal;
    word-wrap: break-word;
    vertical-align: middle;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-table th{
    padding: 8px 2px;
}

.result-table td {
    position: relative;
}

.result-table tr,
.result-table td {
    overflow: visible !important;
}


.cell-bold {
    font-weight: bold;
}

.cell-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cell-border-left {
    border-left: 1px solid;
}

.group-div {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 36px;
}

.group-score-green {
    background-color: rgba(168, 224, 168, 0.45);
}

.group-score-red {
    background-color: rgba(224, 173, 173, 0.34);
}

.result-div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.result-half {
    color: gray;
}

.result-zero {
    color: red;
}

.result-one {
    color: green;
}


.custom-tooltip {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    position: absolute;
    z-index: 1000;
    bottom: 100%; /* This keeps the tooltip above the cell */
    left: 50%; /* Start positioning from the center of the cell */
    transform: translateX(-50%); /* Shift the tooltip leftwards by half its width */
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap; /* Prevents the tooltip from wrapping into multiple lines */
}

.result-table td:hover .custom-tooltip {
    visibility: visible;
    opacity: 1;
}

.custom-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

