<!DOCTYPE html>
<html>
  <head>
    <title>Result Tables</title>
  </head>
  <body>
    <h3>Result Table</h3>
    <table class="result-table">
      <thead>
        <tr id="table-head-row">
          <th class="thin"></th>
          <th>ENGINE</th>
          <th>GAMES</th>
        </tr>
      </thead>
      <tbody id="table-body"></tbody>
    </table>
  </body>
  <!-- TODO: Clean this up and don't just embed data into the page -->
  <script>
    var data = `<%- data %>`;
  </script>
</html>
